[submodule "lib/VIAlertView"]
	path = lib/VIAlertView
	url = git://github.com/aalesia/VIAlertView.git
[submodule "lib/VILoadingDialog"]
	path = lib/VILoadingDialog
	url = git://github.com/aalesia/VILoadingDialog.git
[submodule "lib/VILoaderImage"]
	path = lib/VILoaderImage
	url = git://github.com/MattFoley/VILoaderImageView.git
[submodule "GPUImage"]
	path = GPUImage
	url = git://github.com/BradLarson/GPUImage.git
[submodule "DEStoreKit"]
	path = DEStoreKit
	url = git://github.com/MattFoley/DEStoreKitManager.git
